<div class="<%= (classes ? classes.join(' ') : '') %>">
    <i class="far fa-calendar-alt"></i>
    <time datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <br>
    <% if (post.updated) { %>
        <i class="fas fa-redo-alt"></i>
        <time datetime="<%= post.updated.format() %>">
        <% if (post.lang) { %>
            <%= post.updated.locale(post.lang).format(__('date_format')) %>
        <% } else { %>
            <%= post.updated.locale(page.lang).format(__('date_format')) %>
        <% } %>
        </time>
        <br>
    <% } %>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <i class="far fa-folder-open"></i>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <br>
    <% const tags = post.tags %>
    <% if ((tags) && (tags.length > 0)) { %>
        <i class="fas fa-hashtag"></i>
        <span><%= __('post.tagged_in') %></span>
        <br>
        <%- list_tags(tags, {
            show_count: 0,
            style: 'none',
            class: 'tag tag--success tag--small tag--hover t',
            separator: ' '
        }) %>
    <% } %>
</div>
